[Unit]
Description=DavidTimovski website (C#) running on Ubuntu

[Service]
WorkingDirectory=/home/davidtimovski/website-csharp
ExecStart=/usr/bin/dotnet /home/davidtimovski/website-csharp/Website.dll
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dotnet-website-csharp
User=davidtimovski
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
