@{
    ViewBag.Title = "My Projects";
}

<div class="page">
    <div class="banner">
        <div class="banner-wrap middle">
            <header class="banner-details">
                <h1 class="banner-title">@ViewBag.Title</h1>
                <br />
                <p>Here I'm sharing the projects that I've done at home in my own free time. I've done a lot of work at home, some of it for convenience and some of it for learning purposes.</p>
            </header>
        </div>
    </div>

    <section>
        <div class="section-title">Web applications</div>
        <div class="middle">
            <div class="section-content">
                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">Personal Assistant</div>
                        <div class="date">October, 2019</div>
                    </div>
                    <p class="subtitle">An ecosystem of PWAs</p>
                    <div class="tech-list">
                        <h4>Tech</h4>
                        <p>
                            <span class="item">C#/F#</span> , <span class="item">ASP.NET Core</span> , <span class="item">PostgreSQL</span> , <span class="item">Dapper.NET</span> , <span class="item">RabbitMQ</span> , <span class="item">Linux (Ubuntu)</span> , <span class="item">Aurelia</span> , <span class="item">TypeScript</span> , <span class="item">SASS</span> , <span class="item">PWA</span> , <span class="item">IndexedDB</span>
                        </p>
                    </div>
                    <div class="goal">
                        <h4>Goal</h4>
                        <p>Wanted to learn more about PWAs and build something powerful enough that I myself will use every day.</p>
                    </div>
                    <ul class="links">
                        <li><a href="https://personalassistant.site" title="Check it out" target="_blank" rel="noopener"><i class="icon-external-link-square" aria-hidden="true"></i>personalassistant.site</a></li>
                        <li><a href="https://github.com/davidtimovski/personal-assistant" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                        <li><a href="https://www.davidtimovski.com/Blog/13/personal-assistant" title="Blog article"><i class="icon-file-text" aria-hidden="true"></i>Blog article</a></li>
                    </ul>
                </div>

                <hr class="section-separator" />

                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">Smoke Tracker</div>
                        <div class="date">October, 2021</div>
                    </div>
                    <p class="subtitle">Track your smoking habits</p>
                    <div class="tech-list">
                        <h4>Tech</h4>
                        <p>
                            <span class="item">F#</span> , <span class="item">ASP.NET Core</span> , <span class="item">PostgreSQL</span> , <span class="item">Svelte</span> , <span class="item">TypeScript</span> , <span class="item">SASS</span>
                        </p>
                    </div>
                    <ul class="links">
                        <li><a href="https://smoketracker.davidtimovski.com" title="Check it out" target="_blank" rel="noopener"><i class="icon-external-link-square" aria-hidden="true"></i>smoketracker.davidtimovski.com</a></li>
                        <li><a href="https://github.com/davidtimovski/smoke-tracker" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                    </ul>
                </div>

                <hr class="section-separator" />

                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">Metronome</div>
                        <div class="date">July, 2021</div>
                    </div>
                    <p class="subtitle">Finally, a metronome that allows you to create and manage multiple tempos</p>
                    <div class="tech-list">
                        <h4>Tech</h4>
                        <p>
                            <span class="item">TypeScript</span> , <span class="item">Svelte</span> , <span class="item">SASS</span>
                        </p>
                    </div>
                    <ul class="links">
                        <li><a href="https://metronome.website" title="Check it out" target="_blank" rel="noopener"><i class="icon-external-link-square" aria-hidden="true"></i>metronome.website</a></li>
                        <li><a href="https://github.com/davidtimovski/metronome" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                    </ul>
                </div>

                <hr class="section-separator" />

                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">Compound Interest Calculator</div>
                        <div class="date">January, 2020</div>
                    </div>
                    <p class="subtitle">A compound interest calculator</p>
                    <div class="tech-list">
                        <h4>Tech</h4>
                        <p>
                            <span class="item">C#</span> , <span class="item">Blazor (WebAssembly)</span> , <span class="item">Linux (Ubuntu)</span> , <span class="item">PWA</span>
                        </p>
                    </div>
                    <div class="goal">
                        <h4>Goal</h4>
                        <p>Wanted to see the possibilities that a framework like Blazor (specifically WASM) offers.</p>
                    </div>
                    <ul class="links">
                        <li><a href="https://compoundinterest.davidtimovski.com" title="Check it out" target="_blank" rel="noopener"><i class="icon-external-link-square" aria-hidden="true"></i>compoundinterest.davidtimovski.com</a></li>
                        <li><a href="https://github.com/davidtimovski/compound-interest-calculator" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                    </ul>
                </div>

                <hr class="section-separator" />

                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">Debt Resolver</div>
                        <div class="date">March, 2017</div>
                    </div>
                    <p class="subtitle">Take debt and minimize the number of necessary transactions to resolve it</p>
                    <div class="tech-list">
                        <h4>Tech</h4>
                        <p>
                            <span class="item">Aurelia</span> , <span class="item">JavaScript (ES.Next)</span> , <span class="item">SASS</span>
                        </p>
                    </div>
                    <div class="goal">
                        <h4>Goal</h4>
                        <p>Built this in order to better familiarize myself with ES.Next and Aurelia (my SPA framework of choice). Also, my first project with SASS. All in all, a great learning experience.</p>
                    </div>
                    <ul class="links">
                        <li><a href="https://debtresolver.davidtimovski.com" title="Check it out" target="_blank" rel="noopener"><i class="icon-external-link-square" aria-hidden="true"></i>debtresolver.davidtimovski.com</a></li>
                        <li><a href="https://github.com/davidtimovski/debt-resolver" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                    </ul>
                </div>

                <hr class="section-separator" />

                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">My Routine</div>
                        <div class="date">March, 2016</div>
                    </div>
                    <p class="subtitle">Progress-tracking tool for people learning an instrument</p>
                    <div class="tech-list">
                        <h4>Tech</h4>
                        <p>
                            <span class="item">C#</span> , <span class="item">ASP.NET MVC</span> , <span class="item">SQL Server</span> , <span class="item">Entity Framework</span> , <span class="item">Knockout.js</span>
                        </p>
                    </div>
                    <div class="goal">
                        <h4>Goal</h4>
                        <p>I stared building it for convenience since I'm learning the guitar and I like to automate things in my life as much as I can. But as I was working through it I realized how much of a learning experience it could be so I pushed myself into building it with many technologies that I'd been hyping myself to try.</p>
                        <p>In the end I learned a lot and it's probably the most quality work I've ever done on a web app.</p>
                    </div>
                    <ul class="links">
                        <li><a href="https://github.com/davidtimovski/my-routine" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-title">Desktop applications</div>
        <div class="middle">
            <div class="section-content">
                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">JSON Formatter</div>
                        <div class="date">January, 2023</div>
                    </div>
                    <p class="subtitle">A cross-platform desktop application for formatting JSON strings</p>
                    <div class="tech-list">
                        <h4>Tech</h4>
                        <p>
                            <span class="item">C#</span> , <span class="item">.NET Core</span> , <span class="item">Avalonia</span>
                        </p>
                    </div>
                    <div class="goal">
                        <h4>Goal</h4>
                        <p>Wanted to play around with text formatting.</p>
                    </div>
                    <ul class="links">
                        <li><a href="https://github.com/davidtimovski/json-formatter" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                    </ul>
                </div>

                <hr class="section-separator" />

                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">Team Sketch</div>
                        <div class="date">June, 2022</div>
                    </div>
                    <p class="subtitle">A cross-platform desktop application for collaborative drawing</p>
                    <div class="tech-list">
                        <h4>Tech</h4>
                        <p>
                            <span class="item">C#</span> , <span class="item">JavaScript</span> , <span class="item">.NET Core</span> , <span class="item">Avalonia</span> , <span class="item">SignalR</span>
                        </p>
                    </div>
                    <div class="goal">
                        <h4>Goal</h4>
                        <p>Wanted to play around with real-time communication but in a more interesting manner than the usual chat app.</p>
                    </div>
                    <ul class="links">
                        <li><a href="/team-sketch"><i class="icon-download" aria-hidden="true"></i>Download</a></li>
                        <li><a href="https://github.com/davidtimovski/team-sketch" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                    </ul>
                </div>

                <hr class="section-separator" />

                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">Sapphire Notes</div>
                        <div class="date">November, 2020</div>
                    </div>
                    <p class="subtitle">A cross-platform desktop application for managing notes</p>
                    <div class="tech-list">
                        <h4>Tech</h4>
                        <p>
                            <span class="item">C#</span> , <span class="item">.NET Core</span> , <span class="item">Avalonia</span>
                        </p>
                    </div>
                    <div class="goal">
                        <h4>Goal</h4>
                        <p>Wanted to take a swing at cross-platform desktop dev with this fairly obscure .NET framework <a href="https://avaloniaui.net/">Avalonia</a>.</p>
                    </div>
                    <ul class="links">
                        <li><a href="/sapphire-notes"><i class="icon-download" aria-hidden="true"></i>Download</a></li>
                        <li><a href="https://github.com/davidtimovski/sapphire-notes" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-title">Extensions</div>
        <div class="middle">
            <div class="section-content">
                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">Soccer Streamlined</div>
                        <div class="date">October, 2017</div>
                    </div>
                    <p class="subtitle">A browser extension for live soccer streams</p>
                    <div class="tech-list">
                        <h4>Tech</h4>
                        <p>
                            <span class="item">TypeScript</span>
                        </p>
                    </div>
                    <div class="goal">
                        <h4>Goal</h4>
                        <p>Made this in order to learn about browser extensions. Started building it in JavaScript but it quickly became unmanageable so I took the opportunity to learn TypeScript and I rewrote the whole thing. The difference in readability and maintainability was night and day.</p>
                    </div>
                    <ul class="links">
                        <li><a href="https://chrome.google.com/webstore/detail/soccer-streamlined/lcabedmhpejejhpjdfehcojabbdfihci" title="Check it out" target="_blank" rel="noopener"><i class="icon-external-link-square" aria-hidden="true"></i>Chrome Web Store</a></li>
                        <li><a href="https://addons.mozilla.org/en-US/firefox/addon/soccer-streamlined/" title="Check it out" target="_blank" rel="noopener"><i class="icon-external-link-square" aria-hidden="true"></i>Firefox Add-ons</a></li>
                        <li><a href="https://github.com/davidtimovski/soccer-streamlined" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section-title">Libraries</div>
        <div class="middle">
            <div class="section-content">
                <div class="section-item">
                    <div class="title-and-date">
                        <div class="title">Temporal.js</div>
                        <div class="date">November, 2015</div>
                    </div>
                    <p class="subtitle">Yet another JavaScript library for handling dates</p>
                    <div class="goal">
                        <h4>Goal</h4>
                        <p>A JavaScript library for handling dates. It is less than a quarter of the size of Moment.js and it can do pretty much all the things developers usually use Moment.js for.</p>
                        <p>I developed it when I was a junior developer to better familiarize myself with (the pitfalls of) the JavaScript Date object.</p>
                    </div>
                    <ul class="links">
                        <li><a href="@Url.ActionLink("Temporal", "MyProjects")" title="Documentation"><i class="icon-file-text" aria-hidden="true"></i>Documentation</a></li>
                        <li><a href="https://github.com/davidtimovski/temporal" title="Source Code" target="_blank" rel="noopener"><i class="icon-github" aria-hidden="true"></i>GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
